\---
layout: default
title: Activities
\---

%h2
  Keynote Speaker: Hui Su
%h3
%p
%h3
  Biography
%p
  %a{ :href => "http://researcher.watson.ibm.com/researcher/view.php?person=us-huisu" } Hui Su
  is a Director at the Center of Innovation in Visual Analytics (CIVA), IBM Research, Cambridge.
