\---
layout: default
title: Call for Papers
\---

%h3{ :style => "line-height: 1.5em;" }
  The 2nd Workshop on Social Media Visualization (SocMedVis)
  %br
  at
  %a{ :href => "http://www.icwsm.org" } the International AAAI Conference on Weblogs and Social Media (ICWSM'13)
  %br
  11th July 2013, Boston, USA
  %br
  %a{ :href => "http://socmedvis.swansea.ac.uk" } http://socmedvis.swansea.ac.uk
  %br
%br
%p
  Social media study and analysis brings researchers from many fields into a single setting. Even though the tasks of these researchers are varied, data visualization and analytics plays an important role. For industry and academics alike, visualization of social media data helps with hypothesis formation and supports the explanation of phenomena.
%p
  The 2nd Workshop on Social Media Visualization (SocMedVis) will be held in conjunction with
  %a{ :href => "http://www.icwsm.org/" } the International AAAI Conference on Weblogs and Social Media (ICWSM'13)
  in Boston, USA on 11th July 2013. The workshop is a venue for presentation of research and applications of visualization of social media data.
%p
  The goal of the workshop is to bring together researchers and industry practitioners interested in visual and interactive techniques for social media analysis to discuss their potential application to the social sciences, humanities, and industry.  We solicit contributions that discuss novel techniques and applications of visualization and visual analytics approaches to social media data sources.
%h3
  Important Dates
%ul.unstyled
  %li
    %strong
      Paper Submission Deadline: 18th March 2013
  %li
    Paper Notification: 26th March 2013
  %li
    Paper Camera-Ready Deadline: 1st April 2013
  %li
    Early registration for ICWSM'13: 10th May 2013
  %li
    FInal registration for ICWSM'13: 7th June 2013
  %li
    Workshop: 11th July 2013
%h3
  Topics
%p
  We invite research, application, and position papers on the topic of visualization and social media. Topics of interest include but are not limited to:
%ul
  %li
    Visualization of Social Media Networks and Text
  %li
    Interactive Techniques for Sentiment Analysis and Brand Perception
  %li
    Visualization of Memes and Trends in Social Media
  %li
    Visualization Aesthetics and Social Media
  %li
    Formal Evaluation Techniques in Social Media (Benchmarking, User Studies, and others)
  %li
    Systems and Languages for Social Media Analytics
  %li
    Collaborative Analysis of Text Corpora
  %li
    Real-Time Visualization of Social Media Data
  %li
    Representations of Uncertainty in Text Analytics
  %li
    Applications and Position Papers on Social Media Visualization
    %ul
      %li
        Media Studies
      %li
        Social Sciences and Humanities
      %li
        Data Mining and Machine Learning
      %li
        Psychology and Perception
      %li
        Visual Analytics Applications
      %li
        Smart Cities
%h3
  Submissions
%p
  Papers are limited to 4 pages in length and should have a visualization or visual analytics component to them. Papers must be formatted according to
  = succeed "." do
    %a{ :href => "http://www.aaai.org/Publications/Author/formatting-instructions.pdf" } AAAI guidelines
  Papers in PDF format must be submitted using EasyChair by 18th March 2013. A subset of the accepted papers will be invited for oral presentation at the workshop and will appear in the ICWSM'13 workshop proceedings. All other accepted papers will be presented as posters during the poster session or interactive demo session.
%p
  We also plan to host a panel of researchers in social sciences and humanities and industrial researchers of varied perspectives on the application of visualization to academic disciplines and industry where visualization is needed to understand social media data.
%p
  For more information please visit the workshop web page at
  %a{ :href => "http://socmedvis.swansea.ac.uk" } http://socmedvis.swansea.ac.uk.
%p
  Regards,
  %ul.unstyled
    %li
      = succeed ", Swansea University,  D&#46;W&#46;Archambault&#64;swansea&#46;ac&#46;uk" do
        %a{ :href => "http://www.swan.ac.uk/compsci/people/homepage.php?staff=D.Archambault" } Daniel Archambault
    %li
      = succeed ", IBM Research, eser&#64;us&#46;ibm&#46;com" do
        %a{ :href => "http://researcher.ibm.com/view.php?person=us-eser" } Eser Kandogan
    %li
      = succeed ", Betapond, martin.harrigan&#64;betapond&#46;com" do
        %a{ :href => "http://www.martinharrigan.ie" } Martin Harrigan