\---
layout: default
title: Important Dates
\---

%table.bordered-table.zebra-striped
  %tbody
    %tr
      %th
        Paper Submission Deadline
      %th
        %del
          18th March 2013
        &nbsp;
        21st March 2013
    %tr
      %th
        Paper Notification
      %th
        26th March 2013
    %tr
      %th
        Paper Camera-Ready Deadline
      %th
        1st April 2013
    %tr
      %th
        Early registration for ICWSM'13
      %th
        10th May 2013
    %tr
      %th
        Final registration for ICWSM'13
      %th
        7th June 2013
    %th
      Workshop
    %th
      11th July 2013