\---
layout: default
title: Organizers
\---

%h2
  Organizers
%ul
  %li
    = succeed ", Swansea University,  D&#46;W&#46;Archambault&#64;swansea&#46;ac&#46;uk" do
      %a{ :href => "http://www.swan.ac.uk/compsci/people/homepage.php?staff=D.Archambault" } Daniel Archambault
  %li
    = succeed ", IBM Research, eser&#64;us&#46;ibm&#46;com" do
      %a{ :href => "http://researcher.ibm.com/view.php?person=us-eser" } Eser Kandogan
  %li
    = succeed ", Betapond, martin.harrigan&#64;betapond&#46;com" do
      %a{ :href => "http://www.martinharrigan.ie" } Martin Harrigan
%h2
  Program Committee
%ul
  %li
    = succeed ", INRIA Saclay" do
      %a{ :href => "http://www.lri.fr/~fekete" } Jean-Daniel Fekete
