\---
layout: default
title: Schedule
\---

%p
  The workshop will be a 1/2 day workshop. The schedule is as follows.

%table.table-bordered
  %tbody
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
      %td{ :width => "85%" }
        %b
          Opening Session
        %br
        %i
          Chair: Daniel Archambault
    %tr
      %td
        14:00 &ndash; 14:10
      %td
        %b
          Workshop Introduction
    %tr
      %td
        14:10 &ndash; 15:10
      %td
        %b
          Visual Analytics for Social Business
        %br
        Keynote Speaker:
        %a{ :href => "http://researcher.watson.ibm.com/researcher/view.php?person=us-huisu" } Hui Su
    %tr
      %td
        15:10 &ndash; 15:30
      %td
        %b
          Goals of the Workshop
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
      %td{ :width => "85%" }
        %b
          Paper Session
        %br
        %i
          Chair: Eser Kandogan
    %tr
      %td
        15:45 &ndash; 16:05
      %td
        %b
          Discover Diamonds-in-the-Rough using Interactive Visual Analytics System: Tweets as a Collective Diary of the Occupy Movement
        %br
        = succeed "," do
          %a{ :href => "http://webpages.uncc.edu/~wdou1" } Wenwen Dou
        = succeed "," do
          %a{ :href => "http://coitweb.uncc.edu/~xwang25" } Derek Xiaoyu Wang
        Zhiqiang Ma
        and
        William Ribarsky
    %tr
      %td
        16:05 &ndash; 16:25
      %td
        %b
          Visual Thinking Algorithms for Visualization of Social Media Memes, Topics, and Communities
        %br
        = succeed "," do
          Colin Ware
        Nicholas Pioch
        and
        Eric Jones
    %tr
      %td
        16:25 &ndash; 16:45
      %td
        %b
          Visualizing Community Resilience Metrics from Twitter Data
        %br
        = succeed "," do
          Robert Patton
        Chad Steed
        and
        Christopher Stahl
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
        17:00 &ndash; 17:45
      %td{ :width => "85%" }
        %b
          Discussion of Open Problems
        %br
        %i
          Chair: Daniel Archambault
