\---
layout: default
title: Schedule
\---

%p
  The workshop will be a 1/2 day workshop. The schedule is as follows.

%table.table-bordered
  %tbody
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
      %td{ :width => "85%" }
        %b
          Opening Session
        %br
        %i
          Chair: Daniel Archambault
    %tr
      %td
      %td
        %b
          Welcome and Introduction
    %tr
      %td
      %td
        Keynote: TBD.
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
      %td{ :width => "85%" }
        %b
          Paper Session
        %br
        %i
          Chair: Eser Kandogan
    %tr
      %td
      %td
        %b
          Discover Diamonds-in-the-Rough using Interactive Visual Analytics System: Tweets as a Collective Diary of the Occupy Movement
        %br
        = succeed "," do
          %a{ :href => "http://webpages.uncc.edu/~wdou1" } Wenwen Dou
        = succeed "," do
          %a{ :href => "http://coitweb.uncc.edu/~xwang25" } Derek Xiaoyu Wang
        Zhiqiang Ma
        and
        William Ribarsky
    %tr
      %td
      %td
        %b
          Visual Thinking Algorithms for Visualization of Social Media Memes, Topics, and Communities
        %br
        = succeed "," do
          Colin Ware
        Nicholas Pioch
        and
        Eric Jones
    %tr
      %td
      %td
        %b
          Visualizing Community Resilience Metrics from Twitter Data
        %br
        = succeed "," do
          Robert Patton
        Chad Steed
        and
        Christopher Stahl
    %tr{ :style => "background-color: #f0f0f0" }
      %td{ :width => "15%" }
      %td{ :width => "85%" }
        %b
          Discussion
        %br
        %i
          Chair: Daniel Archambault